<div class="activity-bar">
    <div class="panel-button">
      <mat-nav-list>
        <a mat-list-item routerLink=".">
          <mat-icon svgIcon="list"></mat-icon>
        </a>
      </mat-nav-list>
    </div>
    <div class="end-button">
      <mat-nav-list>
        <a mat-list-item routerLink=".">
          <mat-icon svgIcon="more"></mat-icon>
        </a>
        <a mat-list-item routerLink=".">
          <mat-icon svgIcon="notif"></mat-icon>
        </a>
        <a mat-list-item routerLink="." class="icon-avatar">
          <span class="dot-color"></span>
          <mat-icon svgIcon="avatar"></mat-icon>
        </a>
      </mat-nav-list>
    </div>
  </div>