<h1 mat-dialog-title>Add a segment</h1>
<div mat-dialog-content>
    <form [formGroup]="form" id="form" (ngSubmit)="submit()">
        <div class="form-field">
            <label for="name" class="form-label">Name *</label>
            <input type="text" formControlName="name" required maxlength="40" class="form-control" id="name" placeholder="Ex: Computer Software">
            <div *ngIf="
                form.controls.name.errors &&
                (form.controls.name.dirty || form.controls.name.touched)" class="form-error">
                <p *ngIf="form.controls.name.errors.required">Name is required.</p>
                <p *ngIf="form.controls.name.errors.maxlength">Maxlength is 40 chars.</p>
            </div>
        </div>
        <div class="form-field">
            <label for="icon" class="form-label">Icon</label>
            <input (focus)="showEmoji = true" type="text" formControlName="icon" class="form-control" id="icon">
            <emoji-mart *ngIf="showEmoji" (emojiClick)="addEmoji($event); showEmoji = false" [style]="{ position: 'absolute', 'z-index': '1', overflow: 'visible' }" title="Pick your emoji…" emoji="point_up"></emoji-mart>
        </div>
        <div class="form-field">
            <label for="description" class="form-label">Description</label>
            <textarea formControlName="description" class="form-control" id="description"></textarea>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button [disabled]="form.invalid" type="submit" class="btn-primary" mat-button form="form">Save</button>
    <button class="btn-primary-outline" mat-button mat-dialog-close>Cancel</button>
  </div>